<div class="container">
  <!-- <div class="square">
    <span></span>
    <span></span>
    <span></span>
  </div> -->

  <ng-container *ngIf="selectedValue">
    <div>
      <div class="card">
        <div class="imgBx">
          <img [src]="selectedValue.url" alt="" />
        </div>
        <div class="textBx">
          <h2>
            {{ selectedValue.name }}<br /><b>{{ selectedValue.skill }}</b>
          </h2>
          <ul class="sci">
            <li>
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="bottom">
    <div class="icon" *ngFor="let value of val.images; let i = index">
      <div
        (click)="onClick(value)"
        class="active"
        [ngClass]="!this.value ? 'active' : 'imgBx'"
      >
        <img [src]="value.url" />
      </div>

      <div class="btns">
        <button [disabled]="i === 0" (click)="moveLeft(i)">left</button>
        <button
          [disabled]="i === this.val.images.length - 1"
          (click)="moveRight(i)"
        >
          right
        </button>
        <button (click)="add(i)">add</button>
        <button (click)="del(i)">del</button>
      </div>
    </div>
  </div>
</div>
